/*==цвет основного текста #212121==*/
/*==вторичный цвет текста #757575==*/
/*==белый #FFFFFF==*/
/*==акцент #2196F3===*/
/*==текст с прозрачностью rgba(255, 255, 255, 0.6)==*/
/*==вторичный цвет фона #F5F4FA==*/
/*==вторичный цвет фона фильтра портфолио #EEEEEE==*/
/*==основной фон #E5E5E5==*/
/*==тёмный фон #2f303a==*/

:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --transparent-text-color: rgba(255, 255, 255, 0.6);
  --secondary-background: #f5f4fa;
  --primary-background: #e5e5e5;
  --background-black: #2f303a;
  --background-white: #ffffff;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-text-color);
}
/*===========COMPONENTS==========*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*===========END COMPONENTS==========*/

/*===========HEADER==========*/
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-link > span {
  color: #2196f3;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-align: left;
}

.mail-link,
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

/*===========END HEADER==========*/
/*===========HERO==========*/
.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.hero {
  background-color: var(--background-black);
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: #2196f3;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--white-text-color);
  background-color: #188ce8;
}
/*===========END HERO==========*/
/*===========FEATURES==========*/
.features-title {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-transform: uppercase;
}
.description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*===========END FEATURES==========*/
/*===========WHAT ARE WE DOING===========*/
.what-are-we-doing-title {
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*===========END WHAT ARE WE DOING===========*/
/*===========OUR TEAM==========*/
.our-team {
  background: var(--secondary-background);
}
.our-team-title {
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.our-team-name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.our-team-function {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*===========END OUR TEAM==========*/
/*===========FOOTER==========*/
.footer {
  font-style: normal;
  background: var(--background-black);
}
.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
.footer-logo-link > span {
  color: #2196f3;
}
.maps-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
.footer-mail-link,
.footer-tel-link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--transparent-text-color);
}
/*===========END FOOTER==========*/
/*===========PORTFOLIO==========*/

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-text-color);
  background: var(--accent-color);
}
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background: var(--secondary-background);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*===========END PORTFOLIO==========*/
